
    
    <style type="text/css">
    </style>
    
    <style type="text/css">
		.center-horizontal-vertical{
	    	height:  57px;
	    	display: table-cell;
	    	vertical-align:middle;
	    	width: inherit;
	    	text-align: center;
    	}
    	
		.prettyprint{
    		padding: 8px;
			background-color: #f7f7f9;
			border: 1px solid #e1e1e8;
    	}
    	
    	.no-space {
		    margin-left:0;
		}
		
		.min-height{
			min-height: 62px;
		}
		.bottom-margin{
			margin-bottom: 20px;
		}
		.span2{
			width: 141px;
		}
		.larger-font-size{
			font-size: 20px;
		}
		
		#showConversion{
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			 box-shadow: #5E686B 2px 2px 4px;
		}
		.drag-click{
			cursor: pointer;
		}

</style>
    
    <script type="text/javascript">
    	$(document).ready(function(){
   			$(".dialog-placeholder #dollarConversion .input-small").on("change", function(){
   	   				//alert($(this).val().split(" ")[0] );
   	   				//alert($(this).siblings("#expenseAmount").val());
					var countryOptDOM = $(this);
					 
   	   				var from = $(this).siblings("#expenseFrom").val();
   	   				var to = $(this).val().split(" ")[0];
   	   	   			var amount = countryOptDOM.siblings("#expenseAmount").val();

   	   	   			
		   	   	  	$.ajax({
						url: "{{ url("expense_currency_converter") }}",
						data: {'from': from, 'to': to, 'amount': amount },
						method: 'POST',
						error: function(result){
							alert("server error");
						},
						success: function(result){
							countryOptDOM.siblings("#convertedValue").html(result);
						},
						
					});
   	   			
   	   		});

			$(".dialog-placeholder .drag-click").on("click", function(){
				var btn = $(this).find("h4"); 
				$(this).siblings("#dollarConversion").toggle("slide", function(){
					if(btn.html() == "&gt;"){
						btn.html("<")
					}else{
						btn.html(">")
					}
					
				}); 
			});


			$(".dialog-placeholder").jscroll({
			    loadingHtml: '<center><b>Loading...</b></center>',
			    padding: 20,
			    nextSelector: 'a.jscroll-next:last',			  
			});
 
   	   		
       });

    	
</script>
	


<div class="dialog-placeholder" style="height: 400px; overflow-y: scroll">
	{% for expense in expenses %}
		<div class="row bottom-margin">
			<div class="span2">
				<div class="btn-info center-horizontal-vertical"><h3>{{ app.user.currencySymbol }} {{ expense.amount |number_format(2, '.', ',') }}</h3></div>
				<div class="btn-inverse text-center">{{ expense.created |date('j M Y H:i:s') }}</div>	
			</div>
			<div class="span7 prettyprint no-space min-height">
				{{ expense.description }}
			</div>
			<div class="span2 btn-inverse no-space min-height" id="dollarConversion" style="display: none;">
					<select class="input-small">
							<option></option>
							{% for country in countryOptions %}
								<option>{{ country }}</option>
						  	{% endfor %}		
					</select>
					<input type="hidden" value="{{ expense.amount }}" id="expenseAmount"/>
					<input type="hidden" value="{{ app.user.countryCode }}" id="expenseFrom"/>
					<div id="convertedValue" class="text-center larger-font-size"></div>
			</div>
			<div class="span0 no-space btn-inverse drag-click" id="showConversion"><h4>></h4></div>
		</div>
	{% endfor %}
	<a href="{{ url("expense_showAll_partial", {'page' : 2} ) }}" class="jscroll-next">next</a>
</div>



