<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bootstrap/font-awesome/css/social-buttons.css') }}" />
    <link rel="stylesheet" href="{{ asset('bootstrap/font-awesome/css/font-awesome.min.css') }}" />

    <script src="{{ asset('myjs/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}" type="text/javascript"></script>
    <style type="text/css">
    </style>
    
    <script src="{{ asset('morris/raphael-min.js') }}"></script>
	<script src="{{ asset('morris/morris.js') }}"></script>
	<script src="{{ asset('morris/lib/prettify.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('morris/lib/prettify.css') }}">
	<link rel="stylesheet" href="{{ asset('morris/morris.css') }}">
	
	<script type="text/javascript">
	$(function(){
		 $("[data-toggle='tooltip']").tooltip(); 
	});
	</script>
	
</head>
<body style="padding-top: 60px;">
<!-- top header needs in seperate file -->
	{{ include(
		'ExpenseSiteBundle:Partial:header.html.twig'
	) }}
<!-- end of top header -->

<div class="container">
	{{ include(
		'ExpenseSiteBundle:Expense:totalExpenseModule.html.twig'
	) }}

	<div class="btn-group" id="chartgrp" data-toggle="buttons-radio">
    	<button class="btn active">Monthly</button>
    	<button class="btn">Weekly</button>
	</div>
	
	<div id="graph"></div>
	<script type="text/javascript">
	/* data stolen from http://howmanyleft.co.uk/vehicle/jaguar_'e'_type */
	var day_data1 = [
	  {"period": "2012-10-01", "amount": "50", "type": "monthly"},
	  {"period": "2012-09-30", "amount": "100", "type": "monthly"}
	];

	var selected = "monthly";
	
	{% autoescape false %}
		var day_data = {{ graphData }};
	{% endautoescape %}
	var chart = Morris.Line({
	  element: 'graph',
	  data: day_data,
	  xkey: 'period',
	  ykeys: ['amount'],
	  labels: ['Amount'],
	  parseTime: false
	});

	$("#chartgrp .btn").click(function(){
		if ($(this).html() == 'Monthly'){
			selected = "monthly";
			$.ajax({
				url: "{{ url("graph_data") }}",
				dataType: "json",
				data: {'user': "1", 'type': selected },
				method: 'POST',
				error: function(data){
					alert("server error");
				},
				success: function(data){
					chart.setData(data);
				},
				
			});
		}
	});

	chart.on('click', function(i, row){
		$("#chartgrp .btn").button('toggle');
		if (selected != "weekly"){
			selected = "weekly";
			$.ajax({
				url: "{{ url("graph_data") }}",
				dataType: "json",
				data: {'user': "1", 'type': selected, 'month': row.period },
				method: 'POST',
				error: function(data){
					alert("server error");
				},
				success: function(data){
					chart.setData(data);
				},
				
			});
		}
	});
	</script>
	
	<fieldset>
	<!-- <form class="form-inline" method="POST"> -->
	{{ form_start(expense, {'method': 'post', 'attr' : { 'class': 'form-inline' }  }) }}
 		{{ form_errors(expense) }}
			{{ include(
				'ExpenseSiteBundle:Expense:expenseFormPartial.html.twig'
			) }}
	{{ form_end(expense) }}
	<!-- </form> -->
	</fieldset>
	
	{{ render(controller('ExpenseSiteBundle:Expense:expenseList', {
		'page': ePage
	})) }}

	 
	<div class="pagination">
		  <ul>
		    <li {% if ePage == 1 %} class="disabled" {%  endif %}><a href="{% if ePage == 1 %}#{% else %}{{ path("expense_homepage", {'ePage' : ePage-1 }) }}{%  endif %}">Prev</a></li>
			{% for i in 1..totalPagerCount %}
				 <li {% if ePage == i %} class="active" {%  endif %}><a href="{{ path("expense_homepage", {'ePage' : i }) }}">{{ i }}</a></li>
			{% endfor %}
		    <li {% if ePage == totalPagerCount %} class="disabled" {%  endif %}><a href="{% if ePage == totalPagerCount %}#{% else %}{{ path("expense_homepage", {'ePage' : ePage+1 }) }}{%  endif %}">Next</a></li>
		  </ul>
	</div>
	
	
</div>

</body>
</html>