<div class="row">
	<div class="span4 input-prepend">
		<span class="add-on">Today</span>
		<span class="add-on">{{ app.user.currencySymbol }}</span>
		<input type="text" value="{{ todayExpense }}">
	</div>
	<div class="span4 input-prepend">
		<span class="add-on">Weekly</span>
		<span class="add-on">{{ app.user.currencySymbol }}</span>
		<input type="text" value="{{ weeklyExpense }}">	
	</div>
	<div class="span4 input-prepend">
		<span class="add-on">Monthly</span>
		<span class="add-on">{{ app.user.currencySymbol }}</span>
		<input type="text" value="{{ monthlyExpense }}">
	</div>
</div>